body {
    margin: 0;
    font-family: Tahoma, sans-serif;
    background: url("media/img.jpeg") center/cover no-repeat;
    height: 100vh;
    overflow: hidden;
}

.taskbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 32px;
    background-image: url("./media/Background.png");
    background-repeat: repeat-x;
    display: flex;
    align-items: center;
}

#time {
    z-index: 999;

    margin-left: 1130px;
}

.ico {
    margin: 12px;
}
